

.cmp-header{
    border-bottom: 2px solid $footer_bgColor;
    &_container{
        display: flex;
    }
    &_logo{
        flex: 0 0 auto;
        width: 20%;
        img{
            max-height: 70px;
        }
    }
    .nav-items{
        flex: 0 0 auto;
        width: 60%;
        display: flex;
        align-items: end;
            ul{
                display: flex;
                li{
                    padding: 10px 20px;

                }
            }
    }
    &_right-section{
        flex: 0 0 auto;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        nav{
            padding-bottom: 10px;
        }
        .signIn{
            display: flex;
            justify-content: center;
            li{
                padding: 5px;
                cursor: pointer;
                font-size: 14px;
                color: #becfd8;
            }
        }

        .cart-section{
            display: flex;
            align-items: center;
            .cart-Items{
             background-color: $bg-Gray;
             padding: 10px;
             cursor: pointer;
             display: flex;
             align-items: center;
            }
            img{
                width: 20px;
            }
        }
    }
}

