.cmp-signIn_container{
    .row{
        display: flex;
    }
    .col{
        display: flex;
        align-items: baseline;
        flex-direction: column;
        padding: 2rem 2em;
        flex: 1 1 auto;
        p{
            font-size: 14px;
        }
    }
    form{
        width: 100%;
    }
}