<div class="container cmp-signIn_container">
   <div class="row">
       <div class="col">
           <h3>Login</h3>
           <p>Get access to your Orders, Whishlists and Recommendations </p>
       </div>
       <div class="col">
           <form>
               <div class="form-group">
                   <input type="email" class="form-control" id="email" >
                    <label for="email" class="form-label">Email</label>
                   <div class="invalid-feedback" style="display: none;">Please enter valid emailId.</div>
               </div>
                <div class="form-group">
                   <input type="password" class="form-control" id="password">
                   <label for="password" class="form-label">Password</label>
                   <div class="invalid-feedback" style="display: none;">Password is wrong</div>
               </div>
               <div class="cmp-btn">
                 <button type="submit" class="btn btn-danger">Login</button>
               </div>
           </form>
       </div>
   </div>
</div>